.task{
    color: black;
    margin: 4em 10em;
}

.taskList{
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin: 2em 2em 1em 2em;
    border-radius: 1em;
    padding: 2em;
    text-align: start;
}

.button {
    margin-right: 1em;
    cursor: pointer;
}

.check{
    background-color: rgb(37, 255, 3);
}
 

.remove{
    background-color: rgb(252, 66, 66);
}

@media (max-width:480px) {
    .task{
        margin: 3em 1em;
    }
    .taskList{
        justify-content: space-between;
        margin: 2em 1em 1em 1em;
        padding: 1.5em;
        white-space:nowrap;
    }
    .button {
        display: flex;
        align-items: flex-end;
        margin-top: 1em;
    }
        
}

@media (max-width: 900px) {
    .task{
        margin: 3em 0.5em;
        font-size: 1.5em;
    }
    
    .taskList{
        gap: 10px;
        margin: 2em 2em 1em 2em;
        border-radius: 1em;
        padding: 2em;
    }
    
    .button {
     padding: 8px;
     display: flex;
     margin-bottom: 1em;
    }
  }
