.resourses{
    display: flex;
    justify-content: space-between;
    margin: 4em 10em;
}

.Search {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 2em;
}

.inputSearch {
    width:49em;
    padding: 1em;
    border:solid rgb(245, 169, 46); 
    border-radius: 8pX;;
}



@media (max-width:480px) {
    .resourses{
        flex-wrap: wrap;
        gap: 2em;
        margin: 1em 1em;
    }
    .Search {
        flex-wrap: wrap;
    }
    .inputSearch {
        width:15em;
        padding: 1.5em;
        font-size: 1em;
    }
}

@media (max-width: 900px) {
    .resourses{
        margin: 0em 2em;
        flex-direction: column;
    }

    .h2Search{
        font-size: 2em;
    }
    
    .inputSearch {
        width:22em;
        padding: 2em;
        border-radius: 1em;
        font-size: 1.5em;
    }
  }
