body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 169, 46);
  color: #FFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.app{
  /* background-color: rgb(63, 78, 92); */
  text-align: center;
  margin:4em 12em 4em 12em ;
}


